@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", system-ui;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.header {
  background-color: #1f2937;
  color: white;
  padding: 20px 25%;
}

.header-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10%;
}

.header-top ul {
  display: flex;
  gap: 20px;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
}

.hero-secondary {
  font-size: 15px;
  color: #7c7c7c;
}

.hero-main {
  font-size: 48px;
  color: white;
  font-weight: 900;
}

.header-bottom {
  display: flex;
  gap: 50px;
}

.header-bottom div,
.header-bottom img {
  flex: 1;
}

.header-bottom button {
  padding: 8px 23px;
  border-radius: 0.3rem;
  background-color: #3882f6;
  border: none;
  color: white;
}

.info {
  padding: 20px 25%;
}

.info .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.info-header {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

.cards-container {
  display: flex;
  justify-content: center;
  gap: 32px;
}

.card {
  padding: 16px;
  width: 100px;
}

.card img {
  border: 3px solid #3882f6;
  border-radius: 10px;
}

.quote {
  background-color: #e5e7eb;
  padding: 50px 30%;
  color: #1f2937;
}

.quote .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.quote-text {
  font-size: 30px;
  font-weight: 100;
}

.quoter {
  align-self: flex-end;
  font-weight: 500;
}
